* {
    box-sizing: border-box;
    font-family:cursive;
  }

.box{
    /* padding: 100px; */
    width: 100px;
    height: 100px;
    border: 3px solid black ;
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 50px;
    box-shadow: 0 0 0 3px;
    cursor: pointer;
}
main, header{
    display: flex;
    justify-content: center;
}

.end {
  display: flex;
  justify-content: center;
  padding-top: 50px;
}

.end {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 2rem;
}
.turn {
  font-size: 50px;

}
.restart{
  cursor: pointer;
  font-size: 2rem;
  padding: 5px 5px;
}


